<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.amtodev.bitcoinconvert">

    <application
        android:allowBackup="true"
        android:icon="@drawable/friends"
        android:label="Agenda Básica v1.0"
        android:roundIcon="@drawable/friends"
        android:supportsRtl="true"
        android:theme="@style/bitcoinTwo"
        tools:ignore="AllowBackup">
        <activity
            android:name=".modificar_contacto"
            android:exported="false" />
        <activity
            android:name=".Add_Contact"
            android:exported="false"
            android:theme="@style/bitcoinTwo" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/bitcoinOne"
            tools:ignore="DuplicateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Contact"
            android:exported="true"
            android:theme="@style/bitcoinTwo" />
    </application>

</manifest>